<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    <script type="text/javascript" src="static/jquery-2.1.3.js"></script>
    <script src="static/ajax.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/template.css">
    </head>
    <body>  
    <div id="right"></div>
    <div id="left"></div>
    <div id="searchbox">
     <input id="search"> <button id="searchButton">SEARCH</button> 
     </div>
    <div id="videotag">
    <div class="video">
    <video id="video" controls autoplay>
     <source type="video/mp4">
  Browser no support.
</video>
</div>
 </div> 

    <table id="result">
        <tbody id="result"></tbody>    
    </table>

        
        
    </body>
</html>
